language: cpp
sudo: required
# operate system version
dist: trusty

compiler:
- gcc

before_install:
- echo $LANG
- echo $LC_ALL
- sudo pip install cpp-coveralls
- sudo apt-get -qq update
- sudo wget https://github.com/google/googletest/archive/release-1.7.0.tar.gz
- sudo tar xf release-1.7.0.tar.gz
- cd googletest-release-1.7.0
- sudo cmake -DBUILD_SHARED_LIBS=ON .
- sudo make
- sudo cp -a include/gtest /usr/include
- sudo cp -a libgtest_main.so libgtest.so /usr/lib/
- cd "${TRAVIS_BUILD_DIR}"

install:
    - if [ "$CXX" = "g++" ]; then export CXX="g++-5" CC="gcc-5"; fi

addons:
  apt:
    sources:
    - llvm-toolchain-precise
    - ubuntu-toolchain-r-test
    packages:
    - libgtest-dev
    - libboost-dev
    - g++-5
    - gcc-5

before_script:
- cd test/
- mkdir build
- cd build
- cmake .. && make

script:
- ./main

after_success:
- coveralls -r ../ --exclude CMakeFiles --gcov-options '\-lp'

branches:
  only:
  - master
  - develop

notifications:
  email:
    on_success: never
    on_failure: change

